{% if object.status == 'FM' %}
   <button class="btn btn-warning btn-round form-control last" style="margin-bottom: 10px">
       <a href="{% url 'ordersapp:complete' object.pk %}">
           совершить покупку
       </a>
   </button>
   <button class="btn btn-default btn-round form-control last" style="margin-bottom: 10px">
       <a href="{% url 'ordersapp:delete' object.pk %}">удалить</a>
   </button>
{% endif %}
<button class="btn btn-info btn-round form-control last" style="margin-bottom: 10px">
   <a href="{% url 'ordersapp:list' %}">
       к списку заказов
   </a>
</button>
<button class="btn btn-default btn-round form-control last" style="margin-bottom: 10px">
   <a href="{% url 'index' %}">на главную</a>
</button>